@(tokenId: String, passwordsForm: Form[(String, String)])(implicit request: RequestHeader)


@main("Reset Password") {

        <legend>Change your credentials</legend>
        @helper.form(action = routes.ApplicationController.handleResetPassword(tokenId)) {
            @helper.inputText(passwordsForm("password1"))
            @helper.inputText(passwordsForm("password2"))
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </div>
        }
}
